openapi: 3.0.3
info:
  title: Savvy 额度管家 - 百炼(Bailian) Agent 工具接口
  version: "2.0.1"
  description: >-
    供百炼等「无 weixinpay 插件」的平台配置 HTTP 工具使用。覆盖「路径 B：原生微信扫码」与「能力层查询」所需全部接口。
    鉴权分两类：
      1) 下单接口需 X-Agent-Token（平台级，固定值 3c0877b2ae2b5399708597d578daa051）；
      2) 查询/兑换/退款需用户 API Key（Bearer sk-...，由终端用户运行时提供）。
    SKILL 会在检测不到 weixinpay_ 工具时自动走路径 B，因此无需配置 X402 /api/skill/invoke。
servers:
  - url: https://scheng.net
    description: Savvy 生产服务
components:
  securitySchemes:
    agentToken:
      type: apiKey
      in: header
      name: X-Agent-Token
      description: 平台级下单令牌，固定值 3c0877b2ae2b5399708597d578daa051。仅下单(create)需要。
    userApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 用户级令牌，运行时由终端用户通过其 Savvy API Key 提供，形如 Bearer sk-...。查询/兑换/退款需要。
paths:
  /api/user/agent/wechat/topup/create:
    post:
      operationId: createWechatTopUp
      summary: 创建微信扫码充值订单（路径 B）
      security:
        - agentToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_yuan]
              properties:
                amount_yuan:
                  type: number
                  description: 充值金额(元)，由用户指定，服务端裁定上下限；百炼走路径B，任意金额(含>100)均可
      responses:
        '200':
          description: 成功，data 含 code_url(微信二维码)/claim_token/claim_url/out_trade_no
  /api/user/agent/topup/status:
    get:
      operationId: queryTopUpStatus
      summary: 查询充值订单状态
      parameters:
        - name: claim_token
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: status 为 pending / success / failed
  /api/user/agent/ability/balance:
    get:
      operationId: getBalance
      summary: 查余额
      security:
        - userApiKey: []
      responses:
        '200': { description: OK }
  /api/user/agent/ability/usage:
    get:
      operationId: getUsage
      summary: 查近 N 天用量
      security:
        - userApiKey: []
      parameters:
        - name: days
          in: query
          schema: { type: integer, minimum: 1, maximum: 30 }
      responses:
        '200': { description: OK }
  /api/user/agent/ability/orders:
    get:
      operationId: getOrders
      summary: 查充值订单
      security:
        - userApiKey: []
      parameters:
        - { name: page, in: query, schema: { type: integer } }
        - { name: page_size, in: query, schema: { type: integer } }
      responses:
        '200': { description: OK }
  /api/user/agent/ability/redeem:
    post:
      operationId: redeemCode
      summary: 优惠码兑换（执行前须用户确认）
      security:
        - userApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        '200': { description: OK }
  /api/user/agent/ability/refund/apply:
    post:
      operationId: applyRefund
      summary: 退款申请（工单，执行前须用户确认）
      security:
        - userApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [out_trade_no, reason]
              properties:
                out_trade_no: { type: string }
                reason: { type: string }
      responses:
        '200': { description: OK, 返回 ticket_no }
  /api/user/agent/ability/refund/list:
    get:
      operationId: listRefunds
      summary: 查我的退款工单
      security:
        - userApiKey: []
      parameters:
        - { name: page, in: query, schema: { type: integer } }
        - { name: page_size, in: query, schema: { type: integer } }
      responses:
        '200': { description: OK }
